body {
    background-image: url("https://static1.squarespace.com/static/571331942b8dde54a34f4dcd/t/58087f1e03596ecc679c10ec/1476951843649/21335-clouds-and-blue-sky-1920x1200-digital-art-wallpaper.jpg?format=1500w");
    background-repeat: no-repeat;
    background-size: cover; 	
    background-attachment: fixed;
    background-position: center;  
}